@import "tailwindcss";

:root {
  --background: #F9FAFC;
  /* Cloud White */
  --foreground: #2A2A2A;
  /* Charcoal */
  --primary-brand: #3A0F67;
  /* Deep Purple */
  --secondary-brand: #3A0F64;
  /* Indigo Blue */
  --accent-cta: #EA56F7;
  /* Neon Pink */
  --highlight: #0F52BA;
  /* Tech Cyan */
  --section-bg: #FFFFFF;
  /* Pure White */
  --divider: #E6E8F0;
  /* Soft Grey */
  --secondary-text: #6B7280;
  /* Slate Grey */
  --inverted-text: #FFFFFF;
  /* Snow White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* Keep dark mode default or adjust if needed */
    --foreground: #ededed;
  }
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
}

.text-outline-primary {
  -webkit-text-stroke: 3px #6267f1;
  color: transparent;
}

html {
  scroll-behavior: smooth;
}